.container1 input[type=text]{
    padding:5px 0;
    margin:5px 5px 5px 0;
}
.add_form_field{
    background-color:#1c97f3;
    border:none;
    color:white;
    padding:8px 32px;
    text-align:center;
    text-decoration:none;
    display:inline-block;
    font-size:16px;
    margin:4px 2px;
    cursor:pointer;
    border:1px solid #186dad

}
input{
    border:1px solid #1c97f3;
    width:260px;
    height:40px;
    margin-bottom:14px
}
input[type=number]{width:60px}
.delete{
    background-color:#fd1200;
    border:none;
    color:white;
    padding:5px 15px;
    text-align:center;
    text-decoration:none;
    display:inline-block;
    font-size:14px;
    margin:4px 2px;
    cursor:pointer
}